*.DS_Store
*.so
*.pyc
*.o
*.py~
workspace_dev/*
workspace/*
software/models_interface/output_sounds/*.wav
software/transformations_interface/output_sounds/*.wav
.ipynb_checkpoints
.vscode
*.lib
*.exp
*.obj
*.pyd

software/**/output_sounds/*

assignments/**/*.json
assignments/**/*.png
assignments/**/*.wav
assignments/**/*.mp3
assignments/**/*.txt
assignments/**/*.zip
assignments/**/*.pdf

lectures/**/*.json
lectures/**/*.png
lectures/**/*.wav
lectures/**/*.mp3
lectures/**/*.txt
lectures/**/*.zip
lectures/**/*.pdf

